<span style="float:right">
    <a style="text-decoration:none;float:right;" href="@Url.Action("GioHang","GioHang")">
        <img src="~/Images/icon/cart.png" style="width:10%" /> (@ViewBag.TongSoLuong)
    </a>
</span>