@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Trang Chủ", "TrangChu", "TrangChu")</li>
                    <li>Đơn Hàng</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="product well">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="caption">
                        <label>Đặt Hàng Thành Công!</label>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div>